@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: #ffffff !important;
    color: fieldtext !important;
} */

input:-webkit-autofill {
    background-color: #FAFFBD !important;
}

input:-webkit-autofill {
    color: #2a2a2a !important;
}